<div class="po-mt-sm-2 po-mt-md-5 po-mt-lg-5 po-mt-xl-5">
    <article  [formGroup]="componentForm">
        <div class="po-row">
            <div class="po-xl-12 po-lg-12 po-sm-12 po-md-12">
                <po-multiselect p-label="Disciplina"
                    name="disciplinas" 
                    formControlName="disciplinas"
                    [p-options]="optionsDisciplina" 
                    p-required
                    p-sort="true">
                </po-multiselect>
            </div>
        </div>

    </article>
    <po-divider class="po-mt-5" p-label="Cadastro Disciplina"></po-divider>
    <div>
        <form [formGroup]="disciplinaForm">
            <div class="po-row">
                <div class="po-xl-3 po-lg-3 po-sm-12 po-md-3">
                    <po-input p-label="Descrição"
                        formControlName="descricao"
                        p-maxlength="30"
                        p-minlength="8"
                        p-clean
                        p-error-pattern="Mín 8 caracteres"
                        p-required>
                    </po-input>
                </div>
                <div class="po-xl-2 po-lg-2 po-sm-12 po-md-2" #target>
                    <po-input #inputSigla
                        p-label="Sigla"
                        formControlName="sigla"
                        p-minlength="3"
                        p-maxlength="10"
                        (p-enter)="popup.toggle()"
                        p-clean
                        p-error-pattern="Mín 3 caracteres"
                        p-optional="true">
                    </po-input>
                    <po-popup #popup 
                    [p-actions]="acoesPopup"
                    [p-target]="targetInputRef"
                    p-position="bottom"
                    >
                    </po-popup>
                </div>
                <div class="po-xl-3 po-lg-3 po-sm-12 po-md-3">
                    <po-number p-label="Carga Horária"
                        formControlName="cargaHoraria"
                        p-min="1"
                        p-maxlength="4"
                        p-max="9999"
                        p-clean
                        p-error-pattern="Mín 1 caractere"
                        p-required>
                    </po-number>
                </div>
                <div class="po-xl-4 po-lg-4 po-sm-12 po-md-4">
                    <app-novo-input label="Professor" padding="true" (openEvent)="abrirModal()"></app-novo-input>
                    <po-select
                        formControlName="professor"
                        [p-options]="optionsProfessor"
                        p-error-pattern="Selecione um professor"
                        p-required>
                    </po-select>
                </div>
            </div>
            <div class="po-row center-align po-mt-sm-2 po-mt-md-3 po-mt-lg-3 po-mt-xl-3">
                    <po-button
                        id="inserirDisciplina"
                        class="po-xl-4 po-lg-4 po-sm-12 po-md-4"
                        [p-disabled]="disciplinaForm.invalid" 
                        p-label="Cadastrar"
                        (p-click)="cadastraDisciplina()"
                ></po-button>
            </div>
        </form>
    </div>
        <app-professor-modal #professorModal (callFunction)="prencherOptionsProfessor()"></app-professor-modal>
</div>